.CharacterImageLoader {
    position: absolute;
    top: 0;
    left: 0;
    /* 交畀內容自己決定大小，方便拖動 */
    /* width: 100%; */
    /* height: 100%; */
    touch-action: none; /* 避免手機上拖動時滾動頁面 */
    border: 2px transparent dashed;

    > * {
        display: block;
    }

    .ShapedCanvas {
        display: block;
        position: relative;
        z-index: 1;
    }

    .ResizeHandle {
        position: absolute;
        right: -8px;
        bottom: -8px;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: #f00;
        cursor: se-resize;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
        z-index: 2;
    }

    &.Selected {
        z-index: 10;
    }

    // 只有當父元素有 .ShowBorders class 時先顯示 border
    &.ShowBorder {
        border-color: #a00;
        background-color: rgba(255, 255, 255, 0.5);
    }

    .ControlPanel {
        position: absolute;
        top: calc(100% + 2px);
        left: -2px;
        width: calc(100% - 2rem + 4px);
        max-width: 100%;
        background: #fcc;
        border-radius: 0 0 0.5rem 0.5rem;
        padding: 1rem;
    }

    .ControlRow {
        margin-bottom: 0.75rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        flex-wrap: wrap;

        &:last-child {
            margin-bottom: 0;
        }

        &.FloatRight {
            margin: -1rem -0.5rem 0 0;
            text-align: right;
            display: block;
        }

        .RenderModeSelect {
            padding: 0.25rem 0.5rem;
            border: 1px solid #ccc;
            border-radius: 4px;
            background: #fff;
            cursor: pointer;
            font-size: 0.875rem;
            flex-grow: 6;
        }

        .DeleteButton {
            border: none;
            background: none;
            cursor: pointer;
            padding: 0.5rem;
            flex: 1;
        }
    }

    > .Index {
        position: absolute;
        top: calc(50% - 1rem);
        width: 100%;
        text-align: center;
        font-size: 2rem;
        color: #a00;
        user-select: none;
    }
}