.App {
    font-family: "Noto Sans TC", "Microsoft JhengHei", "PingFang TC", "Heiti TC", "STHeiti", "Arial", sans-serif;

    .Toolbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        background: #f0f0f0;
        border-bottom: 1px solid #ccc;
        margin-bottom: 4rem;

        > .ToolbarLeft {
            display: flex;
            align-items: center;
            gap: 1rem;
        }

        > .ToolbarRight {
            display: flex;
            align-items: center;
            gap: 1rem;
        }
    }
}