.App {
    font-family: "Noto Sans TC", "Microsoft JhengHei", "PingFang TC", "Heiti TC", "STHeiti", "Arial", sans-serif;

    // Automatic generation of z-index classes from .Z0 to .Z10
    @for $i from 0 through 10 {
        .Z#{$i} {
            z-index: $i;
        }
    }
}