.ImageCardBackground {
    display: inline-block;
    margin: 0;
    padding: 0;
    min-width: 800px;
    min-height: 600px;
    position: relative;
    border: 2px #aaa dashed;
    background-color: rgba(255, 255, 255, 0.5);

    .HintText {
        position: absolute;
        top: calc(50% - 1rem);
        width: 100%;
        font-size: 2rem;
        text-align: center;
        color: #aaa;
    }

    > .Content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    > .Toolbar {
        position: absolute;
        right: 0;
        top: -36px;
        background: #aaa;
        border-radius: 0.5rem 0.5rem 0 0;
        padding: 0 0.5rem;
    }
}