.ImageCardBackground {
    display: inline-block;
    margin: 0;
    padding: 0;
    min-width: 800px;
    min-height: 600px;
    position: relative;
    border: 2px #aaa dashed;
    background-color: rgba(255, 255, 255, 0.5);

    > .Content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    > .FileIn {
        position: absolute;
        right: 0;
        top: -36px;
        background: #aaa;
        border-radius: 1rem 1rem 0 0;
        padding: 0 0 0 0.5rem;
    }

    // 當有 ShowBorders class 時，子元素可以顯示 borders
    &:global(.ShowBorders) {
        // 留空，用於 CSS selector 匹配
    }
}