.ImageCardBackground {
    display: inline-block;
    margin: 0;
    padding: 0;
    min-width: 800px;
    min-height: 600px;
    position: relative;
    border: 2px #aaa dashed;

    &.CheckerBackground {
        --color-1: #fff;
        --color-2: #ddd;
        --size: 16px;
        background: {
            image: repeating-conic-gradient(var(--color-1) 0% 25%, var(--color-2) 25% 50%);
            size: calc(var(--size)*2) calc(var(--size)*2);
        }
    }

    .HintText {
        position: absolute;
        top: calc(50% - 1rem);
        width: 100%;
        font-size: 2rem;
        text-align: center;
        text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff;
        color: #aaa;
        user-select: none;
    }

    > .Content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    > .Toolbar {
        position: absolute;
        right: -2px;
        top: -36px;
        background: #aaa;
        border-radius: 0.5rem 0.5rem 0 0;
        padding: 0 0.5rem;
    }

    > img {
        position: relative;
        user-select: none;
        pointer-events: none;

        &.SeeThrough {
            opacity: .7;
        }
    }
}