.Toolbar {
    padding: 1rem;
    background: #535353;
    margin-bottom: 4rem;
    color: #eee;

    &, button, input, label, select {
        font-size: .8rem !important;
    }
    button, select {
        padding: 0.5rem;
        border: {
            width: 1px;
            color: #999;
            radius: 2px;
            style: solid;
        }
        background: #757575;
        color: #eee;
    }
    option:hover {
        background: #868686;
        color: #fff;
    }

    .ToolbarFloatRight {
        position: absolute;
        right: 1rem;
        top: 1rem;
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .ToolbarInner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        max-width: 800px;
    }

    .ToolbarLeft {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .ToolbarRight {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}

